body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0px;

}
.first{
   width: 40%; 
   margin-left: 5%;
   float: left;
}
h1{
    font-size: 30px;
    text-transform: uppercase;
    opacity: .8;
}
.mark{
    color: orange;
    
}
h3{
    font-size: 17px;
    color: orchid;
}
p{
    font-size: 15px;
    text-align: justify;
}
a{
    text-decoration: none;
    background-color:blue;
    color: white;
    padding-left: 15PX;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 24px;
}
 .first img{
    width: 70%;
}
.banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}
h2{
    font-size: 25px;
    opacity: .8;
    text-transform: uppercase;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    height: 290px;
    background-position: right;
}
.second{
    
    box-shadow: 10px 10px 30px olive;
    border-radius: 10px;
}
#junior{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;
}
#Senior{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    height: 350px;
    background-position: left;
    
}
